JDBC-Hibernate-Log4j/src/main/resources/person.xsd

<?xml version="1.0"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
targetNamespace="com/satya/vo"
xmlns="com/satya/vo"
elementFormDefault="qualified">

<xs:element name="Person" xmlns="com/satya/vo">
  <xs:complexType>
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="personId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="gender" type="xs:string" minOccurs="1" maxOccurs="1"/>
      <xs:element name="age" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

</xs:schema>